{%- if site.disqus_shortname -%}
    <script>
        var disqus_config = function () {
            this.page.url = "{{ site.url }}{{ page.url }}"; /* Replace PAGE_URL with your page's canonical URL variable */
            this.page.identifier = "{{ page.id }}"; /* Replace PAGE_IDENTIFIER with your page's unique identifier variable */
        };


        (function () { /* DON'T EDIT BELOW THIS LINE */
            var d = document,
                s = d.createElement('script');
            s.src = 'https://{{ site.disqus_shortname }}.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the
        <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
    </noscript>
{%- endif -%}

{%- if site.gisqus.enabled == true -%}
    <script src="https://giscus.app/client.js"
            data-repo="{{site.gisqus.repo}}"
            data-repo-id="{{site.gisqus.repo_id}}"
            data-category="{{site.gisqus.category}}"
            data-category-id="{{site.gisqus.category_id}}"
            data-mapping="pathname"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-theme="preferred_color_scheme"
            data-lang="en"
            crossorigin="anonymous"
            async>
    </script>
{%- endif -%}