---
layout: default
---
<div class="col-lg-12">
 <div class="row justify-content-center">
      <div class="col-lg-6">
          <h1> {{ site.data.local.posts_from_category}} '{{ page.title }}'</h1>
            <ul>
                <div class="row">
                    {% for post in page.posts %}
                    <div class="card blog-post">
                        <img class="card-img-top" src="{{site.url}}{{site.baseurl}}{{ post.thumbnail }}" alt="{{ post.title }}">
                        <div class="card-body center">
                            <!-- <img src="{{site.url}}{{site.baseurl}}/assets/img/{{ site.author_logo }}" class="author-profile-img"> -->
                            <h4 class="card-title">{{ post.title }}</h4>

                            <h6 class="card-subtitle mb-2 text-muted">{{ post.date | date: "%b %-d, %Y" }}</h6>
                            <p class="card-text">{{ post.summary }} </p>

                            <a href="{{ post.url | prepend: site.baseurl }}" data-disqus-identifier="{{ post.url }}" class="btn btn-dark btn-lg">{{site.data.local.read}}</a>
                            <span class="disqus-comment-count" data-disqus-identifier="{{ post.url }}"></span>

                        </div>
                    </div>
                    {% endfor %}
                </div>
            </ul>
    </div>
    {%- include blog_sidebar.html -%}

 </div>
</div>
