---
layout: default
---

<div class="row" id="blog-post-container">
  <div class="col-lg-8 offset-md-2">
    {%- include blog_post_article.html -%}
    {%- include blog_post_comments.html-%}
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">{{site.data.local.about}} {{site.data.about.author}}</div>
      <div class="card-body">
        <p class="author_bio">{{ site.data.about.author_bio }}</p>
        {%- include github_follow_button.html -%}
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">{{ site.data.local.categories }}</div>
      <div class="card-body text-dark">
        {%- include blog_categories.html -%}
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">{{ site.data.local.useful_links }}</div>
      <div class="card-body text-dark">
        {% for i in site.data.navigation.urls %}
        <li>
          <a href="{{ site.url}}{{site.baseurl}}{{ i.url }}">{{ i.text }}</a>
        </li>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

